:root {

    // --font-family: "font-family: 'Mulish', sans-serif;";

    --font-family: "Mulish", sans-serif;
    --light: #00c3ff;
    --primary: #2071e7;
    --dark: #2980b9;
    --text: #333;
    --background: #fafafa;
    // --background: #72c3d9;
    --hint: #999;
    --border: #ddd;


}